<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/example/sh/Shellscript"
			class = "org.xtext.example.sh.shellscript.ShellscriptPackage"
			genModel = "model/generated/Shellscript.genmodel" />
	</extension>
</plugin>
