/.TypeScriptRuntimeModule.java._trace
/.TypeScriptRuntimeModule.xtendbin
/.TypeScriptStandaloneSetup.java._trace
/.TypeScriptStandaloneSetup.xtendbin
/TypeScriptRuntimeModule.java
/TypeScriptStandaloneSetup.java
